<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
</style>
<body>
<div class="w3-top">
    <div class="w3-bar w3-black w3-card-2">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a routerLink="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a routerLink="/meeting" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MEETINGS</a>
        <a routerLink="/dashboard" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MORE</a>
        <a routerLink="/aboutus" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT US</a>
        <a [routerLink]="['/login']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGOUT</a>
    </div>
</div>


<div class="w3-content" style="max-width:2000px;margin-top:46px">

    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide">Top Meetings.</h2>
        <p class="w3-opacity"><i>the Top 3 Meetings.</i></p>
        <a *ngFor="let m of (meetings | filterMeetings : meetingSearch.curSearch | OrderBy:['priority'])"  [routerLink]="['/details', m.id]"  class="col-1-4">
            <button class="w3-button w3-black w3-xlarge">{{m.title}}</button>
        </a>

    </div>

<filter-search #meetingSearch></filter-search>
</div>
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="" target="_blank">Mena Gabara</a></p>
</footer>

</body>